@use "../utils/variables";

.create-employee-page {
    padding: 20px;
}

.create-employee-container {
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    max-width: 400px;
}

.create-employee-heading {
    text-align: center;
}