@use "../utils/variables";

.footer {
    max-height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border-top: 2px solid variables.$mediumgreen;
    padding: 2rem 0 1.5rem;

    .footer-text {
        margin: 0;
        padding: 0;
    }
}